<footer class="bg-gray-50">
  <div class="section-container">
    <div class="flex flex-col items-center justify-between md:flex-row">
      <img src="logo.svg" alt="" class="scale-50" />
      <!-- Container for Menus and Socials -->
      <div
        class="flex flex-col justify-between flex-1 mb-10 space-y-6 md:flex-row md:space-y-0 md:mb-0 text-grayishBlue"
      >
        <!-- Menus -->
        @for (menu of menus; track menus.length) {
        <div
          class="flex flex-col space-y-4 md:flex-row md:ml-24 space-x-24 md:space-y-0"
        >
          <div class="flex flex-col space-y-4 text-center md:text-left">
            <div *ngFor="let item of menu.items">
              <a href="" class="hover:text-strongCyan">{{ item.label }}</a>
            </div>
          </div>
        </div>
        }

        <!-- Social Icons -->
        <div class="flex justify-between w-32 py-1">
          @for (logo of socialLogos; track socialLogos.length) {
          <a href="#">
            <img [src]="logo.src" [alt]="logo.alt" class="ficon duration-200" />
          </a>
          }
        </div>
      </div>
    </div>
  </div>
</footer>
