/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply p-4 px-8 rounded-full shadow-lg  duration-200 hover:opacity-80;
  }
}

.section-container {
  @apply max-w-6xl mx-auto text-center;
}

body {
  background-image: url("../public/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media only screen and (min-width: 576px) {
    background-image: url("../public/bg-header-desktop.png");
  }
}
