<!-- Hero -->
<section id="hero">
  <div class="section-container mb-40 pt-16 section-hero">
    <img src="logo.svg" alt="" class="mx-auto my-16" />

    <h3>A history of everything you copy</h3>
    <p class="section-content mb-10 text-2xl">
      Clipboard allows you to track and organize you everything copy. Instantly
      access your clipboard on all your devices
    </p>

    <!-- Button Container -->
    <div class="button-container">
      <a href="" class="bg-strongCyan" appButton> Download for iOs </a>
      <a href="" class="bg-lightBlue" appButton> Download for Mac </a>
    </div>
  </div>
</section>
